body {
    background-color: #fdf6e3;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    text-align: center;
    justify-items: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    margin-top: 30px;
    font-size: 1.5rem;
}

form {
    margin-top: 20px;
}

input, button {
    font-family: inherit;
    background-color: #fafafa;
    border: 3px solid #aaa;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
}

button {
    background-color: #ddd;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    padding: 10px 16px;
    border: 3px solid #999;
    text-align: center;
}

th {
    background-color: #eee;
    font-weight: bold;
}

a {
    color: rgb(143, 143, 205);
}

a:hover {
    color: #00a;
}

.formContainer{
border: 2px solid #999;
border-radius: 10px;
width: 500px;
padding: 10px;
}
